<!-- views/seatings/show.html.erb -->

<div class="seating-main">
  <!-- 席次表の表示コード（省略） -->

  <!-- 名前を表示 -->
  <% @guests.each do |guest| %>
    <div>
      <%= guest.name %>
    </div>
  <% end %>
</div>
