<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Maji Marriage </title>
  </head>
  <body>
    <header>
      <div class="title">Maji Marriage</div>
    </header>

    <div class="first-view">
        <%= link_to image_tag("top_image.png", class:"cupple"), "#" %>
    </div>

    <footer>
      <p>Copyright(c) Maji Marriage ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
