<%= render "shared/header" %>

<div class="index-main">
  
  <div class="couple"> 
    <div class="catch_copy">結婚式に来てくれる人は、 <br>あなたの人生を支えてくれる人です。</div>
    <%= link_to image_tag("couple.png", class:"couple-image"), "#" %>
  </div> 
</div>
