<%= render partial: "shared/header" %>

<div class="new-main" id="newMain">
  <!-- コンテンツを中央に配置するためのコンテナ -->
  <%# <div class="content-container"> %>
    <!-- メインコンテンツ、テーブルコンテナを含む -->
    <div class="table-container">
      <!-- 正方形と名前入力欄を表示するコンテナ -->
      <div class="square-container" id="squareContainer"></div>
      <!-- 他のテーブルを追加する場合はここに追加 -->
    </div>
  <%# </div> %>
</div>