<%= render partial: "shared/header" %>

<div class="seating-main">
    <div class="top-paragraph">
      <%= link_to image_tag("seatinglist.png", class:"seatinglist-image") %>
      <div class="top-seat">
        <input type="text" class="name-input" placeholder="Groom">
        &
        <input type="text" class="name-input" placeholder="Bride">
      </div>
      <div class="top-block"></div>
  </div>
      
  <%# 1列目 %>
  <div class="paragraph">
    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">A</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">B</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>

    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">C</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>
  </div>

  <%# 2列目 %>
  <div class="paragraph">
    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">D</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">E</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>   
  </div>

  <%# 3列目 %>
  <div class="paragraph">
    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">F</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">G</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>

    <div class="block-container">
      <div class ="name-containerLeft">
        <input type="text" class="name-input" placeholder="Guest 1">
        <input type="text" class="name-input" placeholder="Guest 2">
        <input type="text" class="name-input" placeholder="Guest 3">
      </div>
        <div class=square>
          <div class="square-num">H</div>
        </div>
      <div class ="name-containerRight">
        <input type="text" class="name-input" placeholder="Guest 4">
        <input type="text" class="name-input" placeholder="Guest 5">
        <input type="text" class="name-input" placeholder="Guest 6">
      </div>
    </div>
  </div>

  <%# 下部ボタン %>
  



    <%# <%= form_for @seating do |f| %>
      <%# <div class="actions">  %>
        <%# <%= f.submit "SAVE", class: :form__btn  %> 
      <%# </div> %>
    <%# <% end %> 
  <%# /下部ボタン %>
</div>

