<%= render partial: "shared/header" %>

<div class="user-main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="user-heading">
        <%= @user.groom %>&<%= @user.bride %>さんの席次表
      </h2>

      <% if @seatings.any? %>
        <ul>
          <% @seatings.each do |seating| %>
            <li class = user_list><%= link_to "パターン#{seating.pattern} ", seating_path(seating) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>まだ席次表がありません。</p>
      <% end %>
    </div>
  </div>
</div>
