<div class="top-paragraph">
  <%= link_to image_tag("seatinglist.png", class:"seatinglist-image") %>
  <div class="top-seat">
    <input type="text" class="lead-input" placeholder="<%= current_user.groom %>">&<input type="text" class="lead-input" placeholder="<%= current_user.bride %>">
  </div>
  <div class="top-block"></div>
</div>