/* ヘッダー */
header {
  height: 100px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.inner {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.title {
  height:100px;
  width: 100%;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__block {
  z-index: 2;
  display: flex;
  align-items: center;
}

.nav__btn {
  display: inline-block;
  padding: 1em 1.2em;
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #000000 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  text-align: center;
  width: 120px; 
  box-sizing: border-box; 
  margin-right: 10px;
}

.nav__btn:hover {
  color: #fff;
  background: #000000;
}

.mypage-image {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

/* ボディー */
body, html {
  margin: 0;
  padding: 0; 
  height: 100Vh;
  width: 100vw;
  overflow: auto;
}