/* ヘッダー */
header {
  height: 100px;
  /* background-image: radial-gradient(rgb(89, 89, 89), rgb(145, 145, 145)); */
  padding: 10px 0;
  width: 100%;
}

/* .title {
  font-family: 'Vollkorn', serif;
  font-size: 35px;
  background: linear-gradient(180deg, #c0c0c0 0%, #d3d3d3 33%, #e0e0e0 62%, #d3d3d3 83%, #c0c0c0 100%);
  background: -webkit-linear-gradient(90deg, #c0c0c0 0%, #d3d3d3 33%, #e0e0e0 62%, #d3d3d3 83%, #c0c0c0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


.title {
  height:100px;
  width: 100%;
  padding: 0px;
  
  
}

.nav__btn{
  display: inline-block;
  padding: 1em 1.2em;
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #000000 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__right {
  display: flex;
  gap: 15px; 
}

/* ヘッダー */

/* .logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
} */ */

/* ボディー */
.index-main {
  width: 100vw; /* モニターの幅に対して100% */
  height: 100vh; /* モニターの高さに対して100% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.couple {
  display: flex;
  align-items: center; 
  justify-content: center;
}


.couple-image {
  opacity: 0; 
  display: flex;
  align-items: center; 
  justify-content: center;
  
  animation-name:fadeInAnime;
  animation-duration:13s;
  animation-fill-mode:forwards;
  object-fit: cover;
}



@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* フッター */
/* footer {
  background-color: #646363;
  text-align: center;
  color: black;
  padding: 10px 10px ;
 
  bottom: 0;
  width: 100%;
  font-size: 12px;
} */

body, html {
  margin: 0;
  padding: 0; 
  height: 100Vh;
  overflow: auto;
}

.new-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-color: aqua; */
  padding-top: 20%;
}

/* .table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 調整可能
} */

.square-container {
  transform: translate(-50%, -50%);
}

.square {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: serif;
  border-radius: 50%;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 12px;
}

.name-input {
  width: 90%;
  height: 18px;
  margin-top: 10px;
  font-size: 12px;
  font-family: 'HiraMinProN-W3', sans-serif;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /
  outline: none;
}


.name-input:focus {
  border-color: initial !important;
  outline: none !important;
}



.form__btn {
  display: inline-block;
  padding: 1em 1.2em;
  font-size: 1em;
  color: #fff;
  background-color: #e44d26; /* オレンジ色の背景色 */
  text-decoration: none;
  user-select: none;
  border: 2px solid #e44d26; /* オレンジ色のボーダー */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* 色とアニメーションを追加 */
}

.form__btn:hover {  
  cursor: pointer;
  background-color: #c5351e; /* ホバー時の背景色を少し濃い目のオレンジに変更 */
  color: #fff;
  transform: scale(1.05); /* ホバー時に少し拡大するエフェクトを追加 */
}